tr.fuga{
    background-color: #FFEEEE;
}
tr.fase{
    background-color: #EEFFEE;
}
/*
  make css circles in different color
*/
.green-circle {
	margin: 0 auto;
    background-color:#00FF00;
    height:20px;
    width:20px;
    -webkit-border-radius:75px;
    -moz-border-radius:75px;
}

.yellow-circle {
	margin: 0 auto;
    background-color:#FFFF00;
    height:20px;
    width:20px;
    -webkit-border-radius:75px;
    -moz-border-radius:75px;
}

.red-circle {
	margin: 0 auto;
    background-color:#FF0000;
    height:20px;
    width:20px;
    -webkit-border-radius:75px;
    -moz-border-radius:75px;
}

