 /*
   center brand

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  color:green;
}
*/

/*
  change brand color, if want
  .navbar-default .navbar-brand {
  }
*/

/*
  dropdown inside a dropdown
*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/*
  make css circles in different color
*/
.green-circle {
    margin: 0 auto;
    background-color:#00FF00;
    height:20px;
    width:20px;
    -webkit-border-radius:75px;
    -moz-border-radius:75px;
}

.yellow-circle {
	margin: 0 auto;
    background-color:#FFFF00;
    height:20px;
    width:20px;
    -webkit-border-radius:75px;
    -moz-border-radius:75px;
}

.red-circle {
	margin: 0 auto;
    background-color:#FF0000;
    height:20px;
    width:20px;
    -webkit-border-radius:75px;
    -moz-border-radius:75px;
}

table.capture{
	font-size: 8pt;
  text-align: center;
}

table.detalhes{
	font-size: 7pt;
  text-align: center;
}

/*
borda na div
*/
#borda{
	padding:10px;
	clear:both;
	border:1px solid #999;
	-moz-box-shadow:0 -1px 3px #ccc;
	-webkit-box-shadow:0 -1px 3px #ccc;
	border-radius:10px;
}
