tr.fuga{
    background-color: #FFCCCC;
}
tr.fase{
    background-color: #CCFFCC;
}
tr.cExtFase{
    background-color: #EEEEEE;
}
tr.cExtFuga{
    background-color: #CCCCCC;
}
/*
  make css circles in different color
*/

.green-circle {
	margin: 1px;
    background-color:#00FF00;
    height:20px;
    width:20px;
    -webkit-border-radius:75px;
    -moz-border-radius:75px;
	display: inline-flex
}

.yellow-circle {
	margin: 0 auto;
    background-color:#FFFF00;
    height:20px;
    width:20px;
    -webkit-border-radius:75px;
    -moz-border-radius:75px;
	display: inline-flex
}

.red-circle {
	margin: 0 auto;
    background-color:#FF0000;
    height:20px;
    width:20px;
    -webkit-border-radius:75px;
    -moz-border-radius:75px;
	display: inline-flex
}

.divContainerEquip{
    height: 340px;
}

input#myFile{
    margin-top: 10px;
    padding-left: 10px;
}
a.aDB {
  float: left;
  background: #b0e1ff;
  background-image: linear-gradient(to bottom, #b0e1ff, #317ca8);
  border-radius: 5px;
  box-shadow: 0px 0px 10px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 17px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
}

a.aDB:hover {
  background: #abd6eb;
  background-image: linear-gradient(to bottom, #abd6eb, #143f54);
  text-decoration: none;
}